/* VARIABLE DEFINITIONS: Only these 4 variables have to be adjusted, the rest is copy-paste */
* {
    -fx-my-menu-color: #0b4d96;                  /* Change according to your needs */
    -fx-my-menu-color-highlighted: #045da6;      /* Change according to your needs */
    -fx-my-menu-font-color: #FFFFFF;             /* Change according to your needs */
    -fx-my-menu-font-color-highlighted: #FFFFFF; /* Change according to your needs */
}


#schoolTitle {
   -fx-font-size: 32.0px;
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0.0,0.0,0.0,0.7) , 6.0, 0.0 , 0.0 , 2.0 );
}

#greeting {
   -fx-font-size: 20.0px;
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0.0,0.0,0.0,0.7) , 6.0, 0.0 , 0.0 , 2.0 );
}


/*** Top-level menu itself (not selected / hovered) ***/
.menu-bar > .container > .menu-button {
    -fx-background-color: -fx-my-menu-color;
    -fx-font-family:"arial !important";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    	
    
}

/*** Top-level menu's label (not selected / hovered) ***/
.menu-bar > .container > .menu-button > .label {
    -fx-text-fill: -fx-my-menu-font-color;
}

/*** Top-level menu's label (disabled) ***/
.menu-bar > .container > .menu-button > .label:disabled {
    -fx-opacity: 1.0;
}

/*** Top-level menu itself (selected / hovered) ***/
.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color: -fx-my-menu-color-highlighted;
}

/*** Top-level menu's label (selected / hovered) ***/
.menu-bar > .container > .menu-button:hover > .label,
.menu-bar > .container > .menu-button:focused > .label,
.menu-bar > .container > .menu-button:showing > .label {
    -fx-text-fill: -fx-my-menu-font-color-highlighted;
}



/*** Top-level menu itself (not selected / hovered) ***/
 .menu-button {
    -fx-background-color: -fx-my-menu-color;
    -fx-font-family:"arial !important";
    -fx-font-size: 8px;
    -fx-font-weight: normal;
    	
    
}

/*** Top-level menu's label (not selected / hovered) ***/
.menu-button > .label {
    -fx-text-fill: -fx-my-menu-font-color;
}

/*** Top-level menu's label (disabled) ***/
.menu-button > .label:disabled {
    -fx-opacity: 1.0;
}

/*** Top-level menu itself (selected / hovered) ***/
.menu-button:hover,
 .menu-button:focused,
 .menu-button:showing {
    -fx-background-color: -fx-my-menu-color-highlighted;
}

/*** Top-level menu's label (selected / hovered) ***/
.menu-button:hover > .label,
.menu-button:focused > .label,
.menu-button:showing > .label {
    -fx-text-fill: -fx-my-menu-font-color-highlighted;
}




/* MENU ITEM (children of a MENU BUTTON) */
/*** The item itself (not hovered / focused) ***/    
.menu-item {
    -fx-background-color: -fx-my-menu-color; 
     -fx-display: inline-block;
     -fx-padding: 8px, 22px;
      
     
}

/*** The item's label (not hovered / focused) ***/   
.menu-item .label {
    -fx-text-fill: -fx-my-menu-font-color;
}

/*** The item's label (disabled) ***/   
.menu-item .label:disabled {
    -fx-opacity: 1.0;
}    

/*** The item itself (hovered / focused) ***/    
.menu-item:focused, .menu-item:hovered {
    -fx-background-color: -fx-my-menu-color-highlighted; 
}

/*** The item's label (hovered / focused) ***/  
.menu-item:focused .label, .menu-item:hovered .label {
    -fx-text-fill: -fx-my-menu-font-color-highlighted;
}

/* CONTEXT MENU */
/*** The context menu that contains a menu's menu items ***/  
.context-menu {
    -fx-background-color: -fx-my-menu-color; 
}
/**
.menu {
	-fx-font-family: "Arial";	
	-fx-font-size: 20px;
	
}

.menu-item {
	-fx-background-color: #045DA6; 
	
}


.menu-item .label {
    -fx-text-fill: #822998;
}
 **/

.button {
	/**-fx-background-color: #3F2B63; **/
	-fx-background-color: linear-gradient(#3F2B63, #2A5058);
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
	-fx-border:none;
	-fx-font-family:" Arial Narrow";	
	-fx-padding:20.0px;
	-fx-text-alignment:center;
	-fx-content-display:center;
	-fx-text-fill:white;
	-fx-font-size: 20.0px;
}

.button:hover {
	-fx-background-color: #2A1C42;
}

.button:pressed {
	-fx-background-color: #7156DD;
}

.text-field {
	-fx-alignment: center;
}

.label {
	-fx-text-alignment: center;
	-fx-content-display:center;
	-fx-font-family: arial;
	-fx-font-size: 20.0px;
	
}

.check-box {
	-fx-font-weight: bold;
}

.choice-box {
	
}

.combo-box {
	
}

.table-view .column-header, .table-view .column-header-background .filler
	{
	-fx-cell-size: 20.0;
	-fx-background-color: #2D75E8;
}

.table-view .column-header .label {
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-alignment: CENTER_LEFT;
}

.table-view .cell {
	-fx-cell-size: 30.0;
	-fx-alignment: center-left;
	-fx-text-fill: 0.0;
	-fx-alignment: CENTER_LEFT;
}

.table-row-cell:selected {
	-fx-background-color: rgb(127.0, 172.0, 243.0);
}

.table-row-cell:selected .text {
	-fx-fill: white;
}

.table-view .increment-button, .table-view .decrement-button {
	-fx-background-color: transparent;
	-fx-background-radius: 2.0em;
}

.table-view .scroll-bar:horizontal .track, .table-view .scroll-bar:vertical .track
	{
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-background-radius: 2.0em;
	-fx-border-radius: 2.0em;
}

.table-view .scroll-bar:horizontal .thumb, .table-view .scroll-bar:vertical .thumb
	{
	-fx-background-color: derive(#2D75E8, 90.0%);
	-fx-background-insets: 2.0, 0.0, 0.0;
	-fx-background-radius: 2.0em;
}

.chart {
	-fx-padding: 10.0px;
	-fx-background-color: transparent;
	-fx-legend-visible: false;
}

.chart-plot-background {
	-fx-background-color: transparent;
}